@import "tailwindcss";

@theme{
  --color-card: 65deg,  var(--color-gray-700), var(--color-gray-900);
  --color-card-inverse: 65deg, var(--color-gray-900), var(--color-gray-700);
}

/* Este es el "lienzo" con su primera capa de pintura */
.bg-animated-gradient {
  background-image: linear-gradient(var(--color-card));
}

/* Aquí creamos y definimos la "capa mágica" que NO está en el HTML */
.bg-animated-gradient::before {
  content: ''; /* ¡Esto es lo que la crea! */
  position: absolute; /* Esto la pega "dentro" y encima del div */
  inset: 0; /* Hace que ocupe todo el espacio del div */
  
  background-image: linear-gradient(var(--color-card-inverse)); /* Su color */
  opacity: 0; /* Es invisible al inicio */
  transition: opacity 500ms ease-in-out; /* Su animación */
}

/* Al pasar el ratón por el div (group), la capa mágica se hace visible */
.group:hover .bg-animated-gradient::before {
  opacity: 1;
}